* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Catamaran", sans-serif;
  font-size: 14.5px;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #020242;
}

body {
  background-color: #020242;
  color: #f5f4f5;
}


.container {
  display: grid;
  grid-template-columns: 40dvw 1fr;
  grid-template-rows: calc(100vh - 1.5rem);
  grid-template-areas: "form schedule";

  padding: 0.75rem;
}

@media screen and (min-width: 1300px) {
  body{
    display: flex;
    flex-flow: column;
 
  }
  .container{
    max-width: 2000px;
  }
  
}

.logo {
  position: absolute;
  top: 12;
  left: 12;
  
  border-radius: 2px;
  
  height: 5rem;
  width: 5rem;
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}

#footer{
  padding: 10px;
  text-align: center;
}