.schedule {
  grid-area: schedule;
  padding: 5rem;
  max-width: 1000px;
}

.schedule>header {
  margin-bottom: 2rem;
}

.schedule>header h1 {
  margin-left: 6rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.schedule>header p {
  margin-left: 6rem;
  color: #ff0404;
  font-size: 0.87rem;
}

.schedule-period {
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.schedule-period header {
  width: 100%;
  display: flex;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;

  padding: 0.75rem 1.25rem;
}

.schedule-period header img {
  width: 1.25rem;
  margin-right: 0.75rem;
}

.schedule-period header strong {
  flex: 1;
  color: #ffffff;
  font-size: 0.87rem;
}

.schedule-period header span {
  font-size: 0.87rem;
  color: #ffffff;
}

.schedule-period ul {
  list-style: none;
  padding: 1.25rem;
}

.schedule-period ul li {
  height: 2rem;
  color: #ffffff;
  font-size: 1rem;

  display: flex;
  align-items: center;
}

.schedule-period ul li span {
  flex: 1;
}

.cancel-icon {
  cursor: pointer;
  transition: opacity 0.2s;
}

.schedule-period ul li img:hover {
  opacity: 0.7;
}

.schedule-period ul li strong {
  margin-right: 1.25rem;
}

@media (max-width: 1100px) {
  .schedule {
    grid-area: schedule;
    padding: 1.5rem;
  }

  .schedule>header {
    flex-direction: column;
  }
}

.skeleton-loading {
  position: relative;
  overflow: hidden;
  height: 175px;
  width: 227px;
  color: transparent;

  display: flex;
  gap: 8px;
}

.skeleton-loading-hours {
  background-color: #020242;
  cursor: default;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 70px;
  height: 38px;
}

.container-skeleton-loading {
  display: flex;
  gap: 2px;
  flex-direction: column;

  p {
    color: white;
    font-weight: bold;
    text-align: center;
  }
}

.skeleton-hiden {
  display: none;
}

.skeleton-loading-hours::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 50%;
  /* Cor de brilho (de cinza claro para branco/transparente) */
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.093) 50%,
      rgba(255, 255, 255, 0) 100%);
  /* Animação */
  animation: loading-shine 1.8s infinite;
}

@keyframes loading-shine {
  from {
    left: -150%;
  }

  to {
    left: 100%;
  }
}

.load-hour-animation {
  color: #ff0404;
  font-size: 1rem;
  font-weight: bold;

}